* {
    z-index: 2;
    background: none;
    text-transform: lowercase;
    background-color: rgb(247, 247, 242);
}

html, body {
    width: 100%;
    box-sizing: border-box;
}

header {
    height: 5vh;
    width: 100%;
    font-size: 1.5vw;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding-left: 7vw;
    padding-right: 10vw;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: uppercase;
}

header p {
    width: 30%;
    font-size: 1.7vw;
    text-transform: uppercase;
    margin-right: 5vw;
}

nav {
    width: 70%;
    margin-top: 2vh;
    display: flex;
    align-items: end;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 40px;
    text-transform: uppercase;
}

nav ul li a { 
    font-size: 1.5vw;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
}

body {
    height: 100vh;
}

.intro {
    margin: 0;
    padding: 0;
    width: 60%;
}

.intro h1 {
    font-size: 4vw;
    text-transform: uppercase;
    margin: 25px 0;
}

.intro p {
    font-size: 1.75vw;
    text-transform: uppercase;
    font-family: 'Barlow Semi Condensed', sans-serif
}

.ava {
    width: 40%;
    margin: 0;
    height: 100%;
    position: relative;
}

.ava img {
    width: 70%;
    position: absolute;
    top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

main {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10vw 5vw 5vw 5vw;
    justify-content: space-around;
}

.me {
    width: 90%;
    margin-top: 0;
    margin: 0 5vw 5vw 5vw;
}

.my-skills {
    margin: 0 5vw 5vw 5vw;
}

.me h3,
.my-skills h3 {
    font-size: 2.5vw;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: capitalize;
}

.me p {
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    text-transform: none;
}

.my-skills p {
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.blocks-titles {
    display: flex;
    justify-content: space-around;
}

.blocks-titles h3 {
    font-size: 2.5vw;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    margin-bottom: 3vh
}

.blocks {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4vh;
}

.blocks p {
    width: 25%;
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.blocks-container {
    margin: 0 105px;
}

.skills {
    width: 50%;
    margin-left: 5vw;
}

.skills p {
    font-size: 1.5vw;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    margin: 1vh 0 ;
}

.skill-bar {
    height: 12px;
    background-color: wheat;
    border-radius: 4px;
}

.skill-percentage {
    height: 12px;
    background-color: rgba(177, 119, 53, 0.404);
    border-radius: 4px;
    position: relative;
}

.skill-percentage::before {
    font-size: 12px;
    content: attr(a);
    position: absolute;
    background: rgb(192, 191, 194);
    padding: 4px 6px;
    font-weight: bold;
    border-radius: 4px;
    top: -30px;
    right: 0;
    transform: translateX(50%);
}

.skill-percentage::after {
    width: 9px;
    height: 8px;
    content: '';
    position: absolute;
    background: rgb(192, 191, 194);
    top: -13px;
    right: 0;
    transform: translateX(50%) rotate(45deg);
}

.education,
.certificatations {
    margin-left: 5vw;
    text-transform: uppercase;
}

.education h2 {
    font-size: 1.5vw;
    margin: 0.5vh 0 ;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

.certificatations h3,
.education h3
 {
    font-size: 2.5vw;
    font-family: 'Barlow Semi Condensed', sans-serif;
    text-transform: capitalize;
    margin-bottom: 2vw;
 }

table {
    width: 90%;
    margin: 0 5vw 0vw 5vw;
    text-align: center; 
    border-bottom: 2px solid #dfdfdf; 
    border-radius: 6px; 
    border-collapse: separate; 
    border-spacing: 0px;
}

table thead tr {
    height: 40px;
    font-size: 16px;
    color: #ffffff; 
    background: #8a8455;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}

table tr td {
    height: 50px;
    font-size: 16px;
    border-right: 1px solid #dfdfdf;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
}
table tr td:last-child {
    border-right: 0px;
}
table tbody tr:nth-child(1n) {
    background: #f6f6f6;
}
table tbody tr:nth-child(2n) {
    background: #f1eded;
}
table tbody tr:hover {
    background: #beb676; 
    transition-duration: 0.2s;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: lowercase;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #beb676;
}

.hidden {
    display: none;
}

.slider {
    width: 48%;
    height: 55%;
    margin: 0 26vw 0vw 26vw;
    background-color: #8a8455;
}

.slider img {
    width: 100%;
    height: 100%;
}

.controls {
    margin: 0 auto;
    padding: 15px 0;
    text-align: center;
}

button {
    font-size: 1.6vw;
    padding: 0.2rem 0.8rem;
    cursor: pointer;
}

#btnPrev {
    margin-right: 0.8vw;
}

#btnNext {
    margin-left: 0.8vw;
}

footer {
    height: 33%;
    width: 100%;
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.foot {
    background-color: white;
}

.social {
    align-items: end;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.social p {
    font-size: 2.5vw;
    text-transform: capitalize;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    background-color: white;
}

.social ul {
    align-items: center;
    margin-left: 0;
    background-color: white;
}

.social ul li {
    list-style: none;
    margin-left: 0;
    text-align: right;
    background-color: white;
}

.social ul li a {
    font-size: 1.75vw;
    text-transform: lowercase;
    text-decoration: underline;
    background-color: white;
}

.foot p {
    font-size: 2vw;
    font-weight: bold;
    font-family: 'Playfair Display', serif;
    text-transform: capitalize;
    background-color: white;
}

.foot h2 {
    font-size: 3vw;
    background-color: white;
    text-transform: capitalize;
}