@media (min-width: 577px) and (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav {
        display: flex;
        margin-top: 0;
        height: auto;
        margin-right: 5vw;
    }
    nav ul li {
        text-align: right;
    }

    header {
        display: flex;
        align-items: flex-start;
        margin: 0 0 10vh 0;
        padding: 0;
        width: 100vw;
        height: 0%;
        box-sizing: border-box;
    }

    header p {
        margin-right: 30vw;
        margin-left: 5vw;
        font-size: 3vw;
    }

    main {
        margin: 30vw 5vw 5vw 5vw;
    }

    .intro h1 {
        font-size: 5vw;
    }

    .skills p {
        font-family: 'Times New Roman', Times, serif;
        text-transform: none;
    }

    table {
        margin: 0 5vw 0vw 5vw;
        align-items: center;
        width: 90%;
        height: 49vh;
    }

    .education h3,
    .my-skills h3,
    .me h3,
    .certificatations h3 {
        text-align: center;
        margin-bottom: 5vw;
        font-size: 3vh;
        text-transform: none;
    }

    .education h2 {
        font-size: 2.5vh;
        font-family: 'Times New Roman', Times, serif;
    }

    .slider {
        margin: 0 5vw 0vw 5vw;
        align-items: center;
        width: 90%;
        height: 49vh;
    }

    .controls {
        align-items: center;
        width: 100%;
    }

    button {
        padding: 0.5vw 1.5vw;
    }

    footer {
        width: 100%;
        height: 30%;
        box-sizing: border-box;
        align-items: start;
        margin-top: 1vw;
    }

    .foot p {
        font-size: 3vw;
    
    }
    .foot h2 {
        font-size: 4vw;
    }

    .social p {
        font-size: 4vw;
    }

    .social ul li a {
        font-size: 3vw;
    }
}